---
import AppLayout from "../layouts/AppLayout.astro";
import NavBar from "../components/NavBar.astro";

// Recuperamos los datos pasados por par치metros URL al cambiar de p치gina
const queryParams = new URL(Astro.request.url).searchParams;
let id = queryParams.get('id');
let grupo = queryParams.get('grupo');
const editando = queryParams.get('editando');

// Si no estamos editando, se ponen placeholders
if (editando === 'false') {
    id = 'Nombre del aula';
    grupo = 'Curso';
}
---

<AppLayout page_title="Formulario">
  <div class="content">
    <h1>Editor de aulas</h1>
    <div class="inputs">
      <input id="idInput" type="text" placeholder={id} />
      <input id="grupoInput" type="text" placeholder={grupo} />
    </div>
    <div class="buttons">
        <button class="aceptar" onclick="handleSubmit()">Aceptar</button>
        <button class="cancelar" onclick="window.location.href='/GestionAulas'">Cancelar</button>
      <br><br><br>
    </div>
  </div>
</AppLayout>

<style>
    :root {
      --color-primario: #2C3E50;
      --color-secundario: #3498DB;
      --color-texto: #2C3E50;
      --color-fondo: #b0f7fc;
      --sombra: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    body {
        background-color: rgb(226, 251, 255);
    }

    h1 {
        color: var(--color-secundario);
    }

    .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }

    .inputs {
        display: flex;
        flex-direction: column;
        gap: 15px;
        flex-grow: 1; /* Esto hace que los inputs ocupen el m치ximo espacio posible */
    }

    .inputs input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

    .buttons button {
        width: 100%; /* Los botones ocupar치n el 48% del ancho cada uno */
        padding: 12px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        background-color: var(--color-secundario);
        cursor: pointer;
    }

    .cancelar {
        background-color: #f44336; /* Rojo */
        color: white;
    }

    .aceptar {
        background-color: #4caf50; /* Verde */
        color: white;
    }

    .buttons button:hover {
        opacity: 0.9;
    }
</style>