---
import Layout from "../layouts/Layout.astro";
import HorarioClases from "../components/HorarioClases.astro";
---

<Layout>
    <p>Esto es un texto centrado!</p>

    <HorarioClases/>

</Layout>


