---


import Layout from "../layouts/Layout.astro";
import HorarioClases from "../components/HorarioClases.astro";
import NavBar from "../components/NavBar.astro";
import FreeGuardiasDisplayer from "../components/FreeGuardiasDisplayer.astro";
import GuardiaCard from "../components/GuardiaCard.astro";
---

<Layout page_title="Home">
    <h1>Bienvenido <span id="userName"></span></h1>
    <p>Este es el horario de clases de la semana:</p>
    <HorarioClases />

    <h2>Guardias de la semana</h2>
    <FreeGuardiasDisplayer />

    <a href="/api/auth/logout">Sign out</a>
</Layout>

<script type="module">
    const userData = await fetch("/api/auth/get-user");

    if (userData.ok) {
        const user = await userData.json();
        document.getElementById("userName").textContent = user.nombre;
    }
</script>

<style>
    
</style>
