---


import Layout from "../layouts/Layout.astro";
import AppLayout from "../layouts/AppLayout.astro";
import HorarioClases from "../components/HorarioClases.astro";
import NavBar from "../components/NavBar.astro";
import FreeGuardiasDisplayer from "../components/FreeGuardiasDisplayer.astro";
import GuardiaCard from "../components/GuardiaCard.astro";
import GuardiasToggle from "../components/GuardiasToggle.astro";
import OwnedGuardiasDisplayer from "../components/OwnedGuardiasDisplayer.astro";
---

<AppLayout page_title="Home">
    <h1>Bienvenido <span id="userName"></span></h1>
    <p>Este es el horario de clases de la semana:</p>
    <HorarioClases />

    <GuardiasToggle>
        <div slot="mis-guardias">
          <OwnedGuardiasDisplayer/>
        </div>
    
        <div slot="guardias-disponibles">
          <FreeGuardiasDisplayer />
        </div>
      </GuardiasToggle>
    

    <a href="/api/auth/logout">Sign out</a>
</AppLayout>

<script type="module">
    const userData = await fetch("/api/auth/get-user");

    if (userData.ok) {
        const user = await userData.json();
        document.getElementById("userName").textContent = user.nombre;
    }
</script>

<style>
    body {
        background-color: rgb(226, 251, 255);
    }
</style>
