---
import { supabase } from "../lib/supabase.js";
import AppLayout from "../layouts/AppLayout.astro";
import HorarioClases from "../components/HorarioClases.astro";
import FreeGuardiasDisplayer from "../components/FreeGuardiasDisplayer.astro";
import GuardiasToggle from "../components/GuardiasToggle.astro";
import OwnedGuardiasDisplayer from "../components/OwnedGuardiasDisplayer.astro";

// Get current session
const {
  data: { session },
} = await supabase.auth.getSession();
if (!session) throw new Error("User is not logged in");

// Fetch the user record from 'usuarios' using .single()
const { data: user, error: userError } = await supabase
  .from("usuarios")
  .select("*")
  .eq("auth_id", session.user.id)
  .single();
if (userError) throw userError;
---

<AppLayout page_title="Home">
    <h1>Bienvenido <span id="userName">{user.nombre}</span></h1>
    <p>Este es el horario para el día de hoy:</p>
    <HorarioClases />

    <GuardiasToggle>
        <div slot="mis-guardias">
          <OwnedGuardiasDisplayer/>
        </div>
    
        <div slot="guardias-disponibles">
          <FreeGuardiasDisplayer />
        </div>
      </GuardiasToggle>
    <br><br><br><br><br><br> <!--Deja espacio para la NavBar -->
</AppLayout>

<style>
    body {
        background-color: rgb(226, 251, 255);
    }
</style>
