---
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Ajustes</h1>
    <NavBar></NavBar>
</Layout>

<!--Pagina de prueba para probar la navegacion hasta que tengamos la de verdad -->