---
import NavBar from "../components/NavBar.astro";
import AppLayout from "../layouts/AppLayout.astro";
---
<AppLayout>
    <h1>Notificaciones</h1>
</AppLayout>

<!--Pagina de prueba para probar la navegacion hasta que tengamos la de verdad -->